body {
    width:1000px;
    margin: 0 auto;
}

.studentInfo {
    display:inline-block;
    width:325px;
    border:1px solid yellowgreen;
    border-radius:5px;
}


table {
    border-collapse: collapse;
    width: 250px;
    margin:0 auto;
}

th {
    height: 50px;
}

td {
    text-align: left;
    vertical-align: bottom;
}