<div class="centered">
    <img src="images/congrats.gif" />
    <h1>CONGRATULATIONS</h1>
    <h3>High Score</h3>
    <ul id="highscore"></ul>
</div>

<script>
    var scoreList = $("#highscore");

    var storageData = JSON.parse(localStorage.getItem("sarHighScore"));

    storageData.sort(function (a, b) {
        return a.score - b.score;
    });

    for (var i = 0; i < storageData.length; i++) {
        var currentData = storageData[i];
        scoreList.append("<li><span class='username'>Player: " + currentData.username + "</span> - <span class='score'>Score:" + currentData.score + "</span></li>")

    }

    //for (var key in localStorage) {
    //    scoreList.append("<li><span class='username'>Player: " + key + "</span> - <span class='score'>Score:" + localStorage.getItem(key) + "</span></li>");
    //}
</script>